<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/style.css">
  <title>Modify Requirement</title>
</head>

<body>
  <h1>Modify <%= requirement.name %></h1>
  <form action="/requirement/<%= requirement.id %>?_method=put" method="post">
    <label>Name: <input class="simple" type="text" name="requirement[name]" value="<%= requirement.name %>"></label>
    <br/>
    <label>Description: <textarea class="simple" type="text" name="requirement[description]"><%= requirement.description %></textarea></label>
    <br/>
    <input type="submit" value="Update" />
  </form>
</body>

</html>