<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <title>Requirement Details</title>
</head>

<body>
    <h1>
        HP-<%=requirement.id%> <%= requirement.name %>
        <a href="/requirement/<%= requirement.id %>/edit">edit</a>
    </h1>
    <h2>Description</h2>
    <p><%=requirement.description%></p>
    <h2>Linked Stakeholders</h2>
    <p>The requirement is linked with the following stakeholders:</p>
    <ul>
        <% stakeholders.forEach(function(stakeholder){ %>
        <li>
            <a href="/stakeholder/<%= stakeholder.id %>">HP-<%= stakeholder.id %></a> 
            <%= stakeholder.name %>
        </li>
        <% }) %>
        <ul>

</body>

</html>