<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/style.css">
  <title>Modify Stakeholder</title>
</head>

<body>
  <h1>Modify {{stakeholder.name}}</h1>
  <h2>General data</h2>
  <form action="/stakeholder/{{stakeholder.id}}?_method=put" method="post">
    <label for="stakeholder[name]">Name:
      <input class="simple" type="text" name="stakeholder[name]" value="{{stakeholder.name}}">
    </label>
    <br />
    <label>Description: <textarea class="simple" type="text"
        name="stakeholder[description]">{{ stakeholder.description }}</textarea>
      <br />
      <input type="submit" name="submit" value="Update"/>
  </form>
  <h2>Links to requirements</h2>
  <form action="/stakeholder/{{stakeholder.id}}/requirement" method="post">
    <label for="requirement[id]">Select requirement to link:
      <select name="requirement[id]">
        {{#each (all_linkable_reqs stakeholder)}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </label>
    <br />
    <input type="submit" name="submit" value="Create Link" />
  </form>
  <h2>New requirements</h2>
  <form action="/stakeholder/{{stakeholder.id}}/requirement" method="post">
    <label for="requirement[name]">Requirement:
      <input class="simple" type="text" name="requirement[name]" placeholder="Name"/>
    </label>
    <input type="submit" name="submit" value="Add New">
  </form>
</body>
</html>