<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Highway Pilot - Stakeholders</title>
</head>
<body>
  <h1>Stakeholder</h1>
  <p>Click on a stakeholder to see the corresponding requirements.</p>
  <div>
  {{#each stakeholders}}
      <div>
        <section><a href="/stakeholder/{{id}}">HP-{{id}}</a> <b>{{name}}</b><section>
        <section>{{description}}</section>  
      </div>
      <br/>
   {{/each}}
  </div>
  <div>
  <form action="/stakeholder" method="post">
    <input type="submit" name="submit" value="New">
  </form>
  </div>
</body>
</html>
