<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Stakeholder Details</title>
</head>
<body>
<h1>
  HP-{{stakeholder.id}} {{stakeholder.name}} 
  <a href="/stakeholder/{{stakeholder.id}}/edit">edit</a>
</h1>
<h2>Description</h2>
<p>{{stakeholder.description}}</p>
<h2>Linked Requirements</h2>
{{#if (reqs stakeholder)}}
  <p>This stakeholder is linked to the following requirements:</p>
  <ul> 
    {{#each (reqs stakeholder)}}
      <li><a href="/requirement/{{id}}">{{name}}</a></li>
    {{/each}}
  </ul>
{{else}}
  <p>This stakeholder has no requirements yet.</p>
{{/if}}

{{#if hasMessages}}
Messages:
  <ul>
    {{#each messages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}


</body>
</html>
